.reg_block{
    min-height: 125px;
    min-width: 150px;
    float:left;
    border-radius: 25px;
    border: 2px solid #73AD21;
    margin:10px;
    padding: 10px 5px 10px 5px; 
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.reg_interactive{
    border-width: 2px;
}
.reg_interactive:hover{
    border-width: 4px;
    margin:8px;
    cursor: default;
}
.reg_selected{
    background-color: lightblue;
    border-width: 4px;
    margin:8px;
}
.reg_active{
    font-weight: bold;
    color:green;
}
.reg_heater{
    color:red;
    border-color:red;
}
.reg_cooler{
     border-width: 2px;
    color:blue;
    border-color:blue;
}
.reg_cont_info{
    float:left;
    height: 50px;
}
.reg_l_cont{
    float:left;
}
.reg_r_cont{
    float:left;
}
.reg_k_cont{
    float:left;
}
.reg_val_cont{
    height: 50px;
    width: 100%;
    clear: left;
}
.reg_em_ico{
        border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    font-size: 30pt;

}
.reg_descr{
    width: 100%;
    height: 50px;
    font-size: 2cm;
}
.reg_out{
    width: 100%;
    height: 25px;
    font-size: 20px;
}
.reg_k{
    font-size: 15px;
    float:left;
    height: 50px;
}

.reg_d{
    float:left;
    /*height: 20px;*/
    font-size: 15px;
    margin:0px 3px 0px 3px;
}
.reg_img{
    float:left;
    width: 50px;
}
.reg_vname{
    float:left;
    min-height: 50px;
    font-size: 30pt;
    clear: left;
}
.reg_pname{
    float:left;
    height: 25px;
    font-size: 20px;
    clear: left;
}
.reg_dis{
    opacity: 0.2;
}
.reg_updated{
    border-color: greenyellow;
    background-color: azure;
}
.reg_group{
    float:left;
    width:100%;
    padding-top:5px;
    padding-bottom: 5px;
    border-bottom: 3px dashed burlywood;
}